body, footer {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    padding-top: 55px; 
    font-size: 13px;

}
.centered {
    margin-right: auto;
    margin-left: auto;
}
.container{
	padding-right: 25px;
}
h4{
	font-family:  'Arial Narrow', sans-serif;
	font-weight: bold;
	font-size: 1.4em;
	color: #777;
}
h2, h3{
	font-family:  'Arial Narrow', sans-serif;
	font-weight: bold;
}
blockquote{
	font-style: italic;
	font-size: 13px; 
}
/*-----------------------------------
	Menu Top
-------------------------------------*/
#navbar{
	background: #000;
}

#navbar-brand{
	color : #eee;
	font-family: 'Pacifico';
	font-size: 22px;
	margin-left: 10px;
	margin-top: 6px;
}

#navbar-collapse ul#navbar-nav{
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	border-right: 1px solid #222;
	/* For IE, the outcast */
	zoom:1;
	*display: inline;
}
#navbar-collapse ul#navbar-nav > li {
	display: block;
    float: left;
    padding: 0;
}
#navbar-collapse ul#navbar-nav a {
  display: block;
  /*font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  text-decoration: none;
  padding: 18px 20px 18px 20px;

  border-left: 1px solid #333;
}

	#navbar-collapse ul#navbar-nav a:hover {
	  background: #333;
	  text-decoration: none;
	  border-left: 1px solid #222;
	}

	#navbar-collapse ul#navbar-nav .active a {
		background: #44bbaa;
		border-left: 1px solid #222;
	}

		#navbar-collapse ul#navbar-nav .active a:hover {
			/*background: #44bbaa;*/
		}
#navbar-collapse i {
	font-size: 25px;
	color : #eee;
}

/* ------------------------------------
      MainPage 
 ---------------------------------------*/
.section-main h1{
	font-size: 3em;
}
.div-fluid{
	margin:0;
}

.brand{
	color : #222;
	font-family: 'Pacifico';
	font-size: 3em;
	margin-top: 7%;
	/*text-shadow: 2px 1px #5bc0de;*/
}
#brand-left{
	float:right;
}
#brand-right{
	float:left;
}
/*.brand-img{
	background: red;
}*/
.brand-img img{
	min-width:100px;
	min-height:auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border-radius: 100%;	
	/*box-shadow: 0px 20px 20px white;*/
}
#row-index{
	background:#222;
	min-height: 435px;
	color:#fff;
	margin-top: -42px;
}
#row-index h1{
	font-size: 38px;
	font-family:  'Arial Narrow', sans-serif;
	font-weight:bold;
	color: #eee;
}
@-moz-document url-prefix() {
    #row-index h1 {
		font-size: 35px;
    }
}
#row-index p{
	font-size: 1.5em;
}
.div-index-right{
	width: 80%;
	margin-top: 45px;
	float: left;
	margin-bottom: 30px;
}
@-moz-document url-prefix() {
    .div-index-right {
		margin-top: 0px;
    }
}
.div-index-left{
	width: 80%;
	margin-top: 65px;
	float: none;
	margin-right: auto;
	margin-left: auto;
}
@-moz-document url-prefix() {
    .div-index-left {
		margin-top: 25px;
    }
}
.carousel-inner{
	/*height: 320px;*/
}
.carousel-caption{
	color: black;
	font-weight: bold;
}
.row-index-footer{
	font-family:  'Arial Narrow', sans-serif;
	font-weight:bold;
	margin-left: 10%;
	margin-right: 6%;

}
#container-footer{
	background-color: white;
	color: #222;
}
#btn-footer{
	margin-top: 30px;
	margin-left: 30px;
}

/*------------------------------------------
  About
  ------------------------------------------*/
 #img-about{
 	width: 340px;
 	height: 400px;
 }

  #img-related{
 	width: 200px;
 	height: 100px;	
 }
 #img-related-ucsm{
 	width: 100px;
 	height: 100px;	
 	float: right;
 }
 #img-related-android{
 	width: 250px;
 	height: 100px;	
 }
.social-links ul li{
    display:inline-block;
}
.social-links ul li a span{
    height: 24px;
    width: 24px;
    display: block;
    background: url('../img/footer-social-icons.png') no-repeat 7px 7px;
}
.social-links ul li:nth-child(2) a span{
    background: url('../img/footer-social-icons.png') no-repeat -28px 7px;
}
.social-links ul li:nth-child(3) a span{
    background: url('../img/footer-social-icons.png') no-repeat -64px 7px;
}
.social-links ul li a{
    background: #2C3B42;
    height: 30px;
    width: 30px;
    display: block;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -o-border-radius: 30em;
}
.social-links ul li a:hover{
    background:#71B6D5;
}
/*------------------------------------------
Portfolio  750x350
--------------------------------------------*/
#img-portfolio {
	/*border: 2px solid #777;
	border-radius: 5px;*/
	/*box-shadow: 3px 3px 5px #999;*/
}
#img-portfolio img{
	margin-left: auto;
	margin-right: auto;
}


/* -----------------------------------------
    Responsive Styles 
   ------------------------------------------*/
 @media (max-width: 767px) {
 
	.brand-img img{
		margin-left: 0;
		margin-right: 0;
	}
	.div-index-right, .div-index-left{
		float:none;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 25px;
	}
	.div-index-right{
		margin-bottom: 25px;
		margin-top: 0;
	}

}
@media (max-width: 520px) {
    .brand{
		font-size: 1.6em;
	}
	 #row-index h1{
		font-size: 2em;
	}
	#row-index p{
		font-size: 1em;
	}
	.row-index-footer h3{
		font-size: 1.6em;
	}

}