{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}BST | About me {% endblock %}

{% block content %}

<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About me</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" id="img-about"  src="{% static 'img/bms3.jpg' %}" alt="Brenda Stephanie Manrique Brenda Stephanie Truong"/>
            </div>
            <div class="col-md-8">
                <h2 class="navbar-brand-dark">Brenda Stephanie</h2>
                <h4>SYSTEMS ENGINEER - COMPUTER SCIENCE</h4>

                <p>This website was inspired by the book "The Start-up of you" by Reid Hoffman, co-founder of LinkedIn and Ben Casnocha. I value the importance of develping a personal brand an asset that I can carry throughout my career journey, disregards the job or venture I find myself. </p>
                <blockquote>"You own yourself." - The Start-up of You. </blockquote>
                <p>Working on personal projects, setting up my own server and creating own processes; has given me the 
opportunity to continuously improve my core skills, stay on top of emerging technologies and learn by practice. Every day is a new learning experience.</p>
                <blockquote>"You don't know what the best plan is until you try." - The Start-up of You. <br>
                "But as much as you can, prioritize plans that offer the best chance at learning about yourself and the world." - The Start-up of You. </blockquote>
                
                <div class="social-links">
                    <ul>
                        <li><a class="twitter" href="https://twitter.com/BrendaManrique"><span> </span></a></li>
                        <li><a class="github" href="https://github.com/BrendaManrique"><span> </span></a></li>
                        <li><a class="linkedin"  href="https://www.linkedin.com/in/brendastephanie"><span> </span></a></li>
                        <li>
                            <a class="btn btn-lg btn-info" href="{% url 'bookme'%}" title="BookMe">Book Me &nbsp;<i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>


        <!-- Our Customers -->
        <div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Education</h2>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6" >
                <img class="img-responsive img-customer" id="img-related-ucsm" src="https://upload.wikimedia.org/wikipedia/commons/3/36/EscudoUCSM.jpg" alt="Brenda Stephanie Manrique Brenda Stephanie Truong">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6" >
                <img class="img-responsive img-customer" id="img-related"  src="http://www.neos.hr/wordpress/wp-content/uploads/2013/08/oracle-university.png">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6" >
                <img class="img-responsive img-customer"  id="img-related"  src="http://sites.ieee.org/finland/files/2012/10/logo.gif">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6" >
                <img class="img-responsive img-customer" id="img-related-android"  src="https://62e528761d0685343e1c-f3d1b99a743ffa4142d9d7f1978d9686.ssl.cf2.rackcdn.com/institutions/new-york-university/logos/width170_logo-1412312852.png" alt="Brenda Stephanie Manrique Brenda Stephanie Truong">
            </div>

        </div>

    </div>
    <!-- /.container -->



{% endblock %}
