<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Bienvenido a mi portafolio"/>
    <link rel="author" type="text/plain" href="/static/data/humans.txt" />
    <meta name="google" value="notranslate">
    <link rel="shorcut icon" type="image/x-icon" href="/static/ico/bm.ico" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/static/data/sitemap.xml"/>
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link href="<?php echo base_url();?>assets/css/font-awesome.min.css" rel="stylesheet"> -->

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" /> -->
    <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!-- Outside CSS here -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
   <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
{% include 'navbar.html' %}

{% if messages %}
    {#    <div class="container">#}
    <div class="row" style="position: fixed; z-index: 100; bottom: 5px; right: 5px">
    <div class="right">
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success">
        {% elif message.tags == 'warning' %}
            <div class="alert">
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger">
        {% else %}
            <div class="alert alert-info">
        {% endif %}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message|safe }}
    </div>
    {% endfor %}
</div>
</div>
    {#    </div>#}
{% endif %}
{% block content %}{% endblock %}


   <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; brendamanrique.com 2014</p>
                    <br>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>



</body>

</html>