{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link href="/feed/" rel="alternate" type="application/rss+xml" title="Q Blog Feed" />
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}BMS | Blog {% endblock %}

{% block content %}



    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Mi blog</h1>
        <p class="lead blog-description">Este es mi blog.</p>
        <hr>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
          {% block blog_entries %}{% endblock %}

          {% if is_paginated %}
            <ul class="pager">
              <li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>Prev</a></li>
              <li {% if not page_obj.has_next %}class="disabled"{% endif %}><a {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Next</a></li>
            </ul>
        {% endif %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


{% endblock %}