{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}BMS | About {% endblock %}

{% block content %}
<!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Contacto</h1>
        </div>

      </div><!-- /.row -->

      <div class="row">

        <div class="col-sm-7">
          <h3>Si te gustaría colaborar o tienes alguna duda:</h3>
          <p>Estamos buscando apoyo de organizaciones y personas, si quieres unirte o ayudar a desarrollar estas iniciativas, adelante! Juntos podemos contribuir al cambio que el mundo necesita.</p>
			<form method="POST" action="">{% csrf_token %}
    		{{form.as_p}}
    		<input type="submit" class="btn btn-primary" >
		</form>

        </div>

        <div class="col-sm-5">
          <iframe width="100%" height="600px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193578.7410904102!2d-73.97968099999994!3d40.70331274999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2sus!4v1427142690305"></iframe>
        </div>
      </div><!-- /.row -->

    </div><!-- /.container -->


{% endblock %}