{% load url from future %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
        <div class="container-fluid">
              <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         </button>
                  <a class="navbar-brand" id="navbar-brand" href="{% url 'home'%}">BS</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="navbar-collapse">
                  <ul class="nav navbar-nav" id="navbar-nav">
                                <li class="menu-item"><a  href="{% url 'about'%}"><i class="fa fa-user"></i></a></li>
                                <!-- <li class="menu-item"><a  href="#resume" title="Resume"><i class="fa fa-file"></i></a></li> -->
                                <li class="menu-item"><a  href="{% url 'portfolio'%}" title="Portfolio"><i class="fa fa-briefcase"></i></a></li>
                               <!-- <li class="menu-item"><a href="{% url 'contact'%}" title="Contact"><i class="fa fa-envelope"></i></a></li>-->
				<li class="menu-item"><a href="http://www.twitter.com/BrendaManrique"><i class="fa fa-envelope"></i></a></li>
                                <li class="menu-item"><a href="http://www.journal.brendamanrique.com"  rel="nofollow"  title="Blog"><i class="fa fa-leaf"></i></a></li>
                                <!-- href="index.php?page=indexpage" -->
                                <!-- <?php //echo site_url('load/index/portfolio');?> -->
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
    </nav>
