 {% extends 'base.html' %}
{% load staticfiles %}
{% block title %}BMS | Portfolio {% endblock %}

{% block content %}


  <div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">
                Framework orientado a la implementación de aplicaciones para la adquisición de datos en dispositivos móviles sobre la plataforma Android utilizando creación dinámica de componentes gráficos.<br>
                <small>Tesis con Felicitación Pública / Thesis with Honorable Mention</small>
            </h1>
        </div>

    </div>

    <div class="row">

        <div class="col-md-8 ">
            <!-- <a href="portfolio-item.html" > -->
            <img class="img-responsive" src="{% static 'img/img_proj_datile.png' %}">
            <!-- </a> -->
        </div>

        <div class="col-md-4">
            <h3>Descripción del proyecto</h3>
            <p>
                El presente proyecto establece un marco de trabajo para reducir el tiempo de implementación de aplicaciones móviles para adquisición de datos. </h3>
                <ul>
                    <li>Framework: ASP.NET </li>
                    <li>IDE: Eclipse</li>
                    <li>DataBase : SQL Server, SQLite </li>
                    <li>Lenguajes : C#, JS, Java</li>
                    <li>Plataforma: Web, Android</li>
                    <li>
                        Enlace: <a href="http://prezi.com/w-_3lmg46kxl/framework-android/" target="_blank">Defensa Tesis</a>
                    </li>
                </ul>
        </div>

    </div>

    <hr>

  <!--  <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Galería de imágenes</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

    </div>-->

   
    <!-- /.container -->


{% endblock %}