 {% extends 'base.html' %}
{% load staticfiles %}
{% block title %}BMS | Portfolio {% endblock %}

{% block content %}


  <div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">
                Skin Cancer Diagnosis using Fractal Dimension<br>
                <small>Poster Contest Winner at AGSE (Applied Geoinformatics for Society and Environment) International Congress 2010</small>
            </h1>
        </div>

    </div>

    <div class="row">

        <div class="col-md-8 ">
            <!-- <a href="portfolio-item.html" > -->
            <img class="img-responsive" src="{% static 'img/img_proj_fractal.png' %}">
            <!-- </a> -->
        </div>

        <div class="col-md-4">
            <h3>Descripción del proyecto</h3>
            <p>
                This paper describes the application of fractal geometry for the diagnosis of skin cancer based on measurements of mole samples: normal and irregular fractal dimension. This method uses the Koch curve to capture some sample’s characteristics, we are talking about   attributes of measurement and degree of irregularity in order to classify and determine its type.  </h3>
                <ul>
                    <li>
                        Enlace: <a href="https://drive.google.com/file/d/0B-tVkUzjl5FiLTRUT0FPc2NRLVE/edit?usp=sharing" target="_blank">Paper AGSE</a>
                    </li>
                </ul>
</div>

    </div>

    <hr>

  <!--  <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Galería de imágenes</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

    </div>-->

   
    <!-- /.container -->


{% endblock %}