 {% extends 'base.html' %}
{% load staticfiles %}
{% block title %}BMS | Portfolio {% endblock %}

{% block content %}


  <div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">
                Aquolity<br>
                <small>Plataforma crowdsourcing para monitoreo de calidad del agua</small>
            </h1>
        </div>

    </div>

    <div class="row">

        <div class="col-md-8 ">
            <!-- <a href="portfolio-item.html" > -->
            <img class="img-responsive" src="{% static 'img/img_proj_aqua.png' %}">
            <!-- </a> -->
        </div>

        <div class="col-md-4">
            <h3>Descripción del proyecto</h3>
            <p>
                El proyecto se enfoca en brindar una solución de monitoreo de calidad del agua alrededor del mundo, todo esto basado en la capacidad de colaboración de la comunidad. </h3>
                <ul>
                    <li>Framework: CodeIgniter</li>
                    <li>DataBase : MySql </li>
                    <li>UserInterface : Bootstrap, HTML5, CSS, Javascript</li>
                    <li>Plugins: Leaftet.js, ClusterMarker.js</li>
                   <!-- <li>
                        Enlace: <a href="http://www.aquolity.com" target="_blank">Aquolity.com</a>
                    </li>-->
                </ul>
        </div>

    </div>

    <hr>

  <!--  <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Galería de imágenes</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

    </div>-->

   
    <!-- /.container -->


{% endblock %}